.container {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-weight: bold;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin-right: 20px;
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu li:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li:hover::after {
    opacity: 1;
}

.menu li:first-child::after {
    display: none;
}

.menu li.active {
    background-color: #f4f4f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 2%;
    font-weight: 400;
    font-size: 17px;
}

/* Links inside the dropdown */
.dropdownContent div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 80%;
    border-bottom: 2px solid #eee;
}

.dropdownContent span {
    margin-left: 15px;
}

.dropdownContent div:hover {
    background-color: #f1f1f1
}

.loginOperate {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 25px;
}