.container {
    width: 40%;
    margin: 0 auto;
}

.templateItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.operate {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.tplChooseContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.templateChooseItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.templateChooseItem img {
    height: 400px;
}
