.container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    gap: 50px;
    flex-wrap: wrap;
}

.templateItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.templateItem img {
    height: 600px;
}